body { 
	font:normal 12px verdana; margin:0px; padding:0px; border:0px none; height:100%;
	background-color:#ffffff;
}
table { font-size:100%; empty-cells: show; border-color: #cccccc; }

a:link, a:visited { color:#e38128; }
a:hover { color: #c16006; }
a.button { padding:0; text-decoration:none; color:#555; }

h1 {font-weight: bold;font-size:22px; }
h2 {font-weight: bold;font-size:16px; }
h3 { font-weight:bold; font-size:14px;}
h4 { font-weight: bold; font-size:13px; padding:0; margin:0;}
h5 { font-weight: bold; font-size:12px; padding:0; margin:0;}

.php-error, .validationError { color:red; font-weight:normal; font-style:italic; padding-left:0.25em; }

header { color:#ffffff; background-color:#e38128; }
header a:link, header a:visited { color:white; }
header, footer { text-align:center; padding:10px; }
footer { border-top: 1px solid #aaa; }

.content { padding: 20px; background-color:white; color:#555; }