
body { padding-top:60px; }


/* ======================== HELPER CLASSES */

.hide { display:none; }
.nomargins { margin:0 !important; }
.noresize-horizontal { resize:vertical; }

/* ======================== LAYOUT SELECTION */

.layout-selection { list-style:none; *zoom:1; margin:0; }
.layout-selection:before,
.layout-selection:after { display:table; content:""; line-height:0; }
.layout-selection:after { clear:both; }
.layout-selection > li { float:left; width:20%; }
.layout-selection > li .btn { width:100%; position:relative; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; margin-left:-1px; }
.layout-selection > li .btn img { width:80%; padding:20px 0; }

.layout-selection li:first-child > .btn:first-child { -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-bottomleft:4px; -moz-border-radius-topleft:4px; }
.layout-selection li:last-child > .btn:last-child {  -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topright:4px;  }

@media (max-width: 767px) {
	.layout-selection > li .btn img { width:100%; padding:10px 0; }
}

@media (max-width: 480px) {
	.layout-selection > li .btn { padding:10px; }
	.layout-selection > li .btn img { width:100%; padding:4px 0; }
}


/* ======================== TABLE */

.table th a { color:rgba(255,255,255,0.5); }
.table th a.active { color:#fff; }
.table-shadow { -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6); box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6); }
.table-shadow th { background:#333; color:#fff; }

/* ======================== SIDEBAR > WIDGETS */

.widgets .widget-row { display:block; margin-bottom:4px; }

