
/* ======================== HELPER CLASSES */

.hide { display:none; }
.nomargins { margin:0 !important; }


/* ======================== IMAGE */

img { width:auto\9; height:auto; max-width:100%; vertical-align:middle; border:0; -ms-interpolation-mode:bicubic; }
img.left { float:left; margin-right:20px; }
img.right { float:right; margin-left:20px; }
img.polaroid { padding:4px; background-color:#fff; border:1px solid rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 0 7px rgba(0, 0, 0, 0.4); -moz-box-shadow:0 0 7px rgba(0, 0, 0, 0.4); box-shadow:0 0 7px rgba(0, 0, 0, 0.4); }
	