
/* =======================================================
/* CONTENT > eControl Tabs
/* ======================================================= */

.ec-tabs { position:relative; clear:both; margin-top:40px; }
.ec-tabsNav { position:absolute; top:-28px; }
.ec-tabsNav ul { float:left; margin:0; padding:0; }
.ec-tabsNav ul li { display:block; float:left; list-style:none; }
.ec-tabsNav ul li a { display:block; padding:7px 10px; margin-right:4px; text-decoration:none; }
.ec-tabsNav ul li.current a {  }
.ec-tabsBody { clear:both; padding:10px; }
.ec-tabsBodyPage { display:none; }
.ec-tabsBodyPage.current { display:block; }

	.ec-tabs.collapse { margin-top:0; }
	.ec-tabs.collapse .ec-tabsNav { width:100%; position:relative; top:0; }
	.ec-tabs.collapse .ec-tabsNav ul { width:100%; }
	.ec-tabs.collapse .ec-tabsNav ul li { display:block; float:none; clear:both; width:100%; }
