body { 
	font:normal 12px verdana; margin:0px; padding:0px; border:0px none; height:100%;
	background-color:#dddddd;
}
table { font-size:100%; empty-cells: show; border-color: #cccccc; }

a:link, a:visited { color:#0066CC; }
a:hover { color: blue; }
a.button { padding:0; text-decoration:none; color:#555; }

h1 {font-weight: bold;font-size:22px; }
h2 {font-weight: bold;font-size:16px; }
h3 { font-weight:bold; font-size:14px;}
h4 { font-weight: bold; font-size:13px; padding:0; margin:0;}
h5 { font-weight: bold; font-size:12px; padding:0; margin:0;}

.php-error, .validationError { color:red; font-weight:normal; font-style:italic; padding-left:0.25em; }

header, footer { color:#999999; text-align:center; padding:10px; }
.content { padding: 20px; background-color:white; color:black; }

.ec-widget { margin-bottom: 1em; padding: 1em; }
.ec-widget-title { font-size: 1.5em; font-weight:bold; padding-bottom: 0.5em; }
.ec-menu-title { font-size:1.25em; font-weight:bold; }
.ec-menu ul { margin:0; padding:0; list-style:none; }
.ec-menu-horizontal li { display:inline; padding-right:1em; }

.ec-widget img { width: 100%; }
.ec-menu a.active { font-weight:bold; }

/* =============== TABS */

.ec-tabs { position:relative; clear:both; margin-top:40px; }
.ec-tabsNav { position:absolute; top:-28px; }
.ec-tabsNav ul { float:left; margin:0; padding:0; }
.ec-tabsNav ul li { display:block; float:left; list-style:none; }
.ec-tabsNav ul li a { display:block; padding:7px 10px; margin-right:4px; text-decoration:none; color:#ccc; font-weight:bold; }
.ec-tabsNav ul li.current a { color:#000; }
.ec-tabsBody { clear:both; padding:10px; border:1px solid #ccc; background:#efefef; }
.ec-tabsBodyPage { display:none; }
.ec-tabsBodyPage.current { display:block; }
